---
layout: primary
---
    
<div class="main-container">
    <div id="home" class="content-section">{% include_relative sections/header.html %}</div>
    <div id="portfolio" class="content-section">{% include_relative sections/portfolio.html %}</div>
    <div id="publications" class="content-section">{% include_relative sections/publications.html %}</div>
    <div id="consulting" class="content-section">{% include_relative sections/consulting.html %}</div>
    <div id="photography" class="content-section">{% include_relative sections/photography.html %}</div>
    <div id="travel"  class="content-section">{% include_relative sections/travel.html %}</div>
    <div id="contact" class="content-section">{% include_relative sections/contact.html %}</div>
</div>