/* General Overrides */
a {
  color:#0277bd;
}

/* Custom Structures */
.panel::after, .panel::before {
    content: " ";
    display: table;
}
*::after, *::before {
    box-sizing: border-box;
}
.panel::after {
    clear: both;
}
.panel::after, .panel::before {
    content: " ";
    display: table;
}
*::after, *::before {
    box-sizing: border-box;
}
.panel {
    background-color: #fc0;
}
.panel {
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 15px;
}


/* Home Page */
#coverpic > .mdl-card__media {
  background: url('/images/profile.jpg') center / cover;
  width:auto;
  height:300px;
  margin-left:-15px;
  margin-right:-15px;
}
.blurb {
  margin-top:10px;
}
.teaser.mdl-card {
  width: auto;
  height: auto;
  margin-right:10px;
  margin-bottom:10px;
}
.teaser.mdl-card > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #0091ea;
}
.social-links {
  text-align: center;
}





/* Header */
.mdl-layout__header {
  background-color: #388e3c;
  color:#fff;
}
.mdl-layout__header > .mdl-layout-icon {
  background-color: #cff;
  left: 25px;
  top: 44px;
}
.mdl-layout__header-row {
  padding: 0 0 0 30px;
}
.mdl-layout__header-row > a > i {
  padding-right: 20px;
}
.mdl-layout__header-row .mdl-navigation__link {
  color:#fff;
}


/* About Page */
img.work-logo {
  float:left;
  margin-right:5px;
  padding-right:10px;
  padding-bottom:10px;
}





/* Publications Page */
#tagcloud {
  background: url('/images/publications/tagcloud/sized/s_tc-alternative-2014-03-08-8.39.41-blue.png') center / cover;
  width:auto;
  height:220px;
  margin-left:-15px;
  margin-right:-15px;
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
}
.publication {
  margin-bottom: 0.2em;
  min-height: 180px;
}
.publication .pub-title {
    font-size: 90%;
    font-weight: bold;
}
.publication .pub-venue {
    font-style: italic;
}
.publication .pub-authors {
    font-size: 80%;
}
.publication .pub-extra {
    font-size: 90%;
}
.publication.no-image {
    margin-bottom: 1em;
    min-height: 60px;
}
img.pub-teaser {
  border: 1px solid #555;
  float: left;
  margin-right: 10px;
  max-height: 150px;
  padding: 5px;
}

/* Projects Page */
.teaser-projects {
  min-height:600px;
}
.teaser-projects > .mdl-card__media {
  width:auto;
  height:200px;
  margin-left:-15px;
  margin-right:-15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#teaser-projects-snow > .mdl-card__media {
  background: url('/images/projects/thumbnails/clean/snow-01.png') center / cover;
}
#teaser-projects-edrn > .mdl-card__media {
  background: url('/images/projects/thumbnails/clean/edrn-01.png') center / cover;
}
#teaser-projects-vfastr > .mdl-card__media {
  background: url('/images/projects/thumbnails/clean/vfastr-01.png') center / cover;
}
#teaser-projects-rcmes > .mdl-card__media {
  background: url('/images/projects/thumbnails/clean/rcmes-01.png') center / cover;
}
#teaser-projects-cvmeter > .mdl-card__media {
  background: url('/images/projects/thumbnails/clean/cvmeter-01.png') center / cover;
}
#teaser-projects-cositu > .mdl-card__media {
  background: url('/images/projects/thumbnails/clean/cositu-01.png') center / cover;
}
#teaser-projects-furnace > .mdl-card__media {
  background: url('/images/projects/thumbnails/clean/furnace-01.png') center / cover;
}

