@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600|Source+Sans+Pro:300,400|Oleo+Script|Oxygen:400,300|Raleway:400,300);

.foleo {
	font-family: 'Oleo Script', cursive;
}
.fsource {
	font-family: 'Source Sans Pro', sans-serif;
}
.foxygen {
	font-family: 'Oxygen', sans-serif;
}
.fraleway {
	font-family: 'Raleway', sans-serif;
}
.opensans {
    font-family: 'Open Sans', sans-serif;
}
.bold-font {
    font-weight: 600;
}


html,body {
    background-color: #f0f0f0;
}

body {
    width: 100%;
    margin: 85px 0 0 0 !important
    padding:0
    color:#727375;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
    font-weight:400;
}

h2 a, h3 a {
    color: #727375;
    text-decoration: none;
}

h2 a:hover, h3 a:hover {
    color: #00c7e5;
    text-decoration: none;
}

h3 {
    font-size: 20px;
}



a {
    color: #00c7e5;
    text-decoration: none;
}

a:hover {
    color: #00afd9;
    text-decoration: none;
}

a, img {
    border: none;
    outline: none !important;
}

hr {
    border : 0;
    height : 2px;
	border-bottom:2px solid #dedede;
	box-shadow:0 1px 1px rgba(255,255,255,.5);
    margin: 0;
    padding: 0;
}

#mypic {
    width:200px;
    height:200px;
    border:solid 1px #ccc;
    padding:5px;
    margin-bottom:15px;
    background-color:#fff;
}

.clear {
    float: none;
	clear: both;
}

.bright-link-color,
.bright-link-color:visited,
.bright-link-color:hover,
.bright-link-color:active {
    color: #00c7e5;
}

.round, .rounded {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

a.button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}

a.button.active-dark:hover {
    background-color: #414246 !important;
}

#say-hello {
    margin-top:1em;
}

#say-hello,
#features,
.frontpage #faqs h2 {
    text-align: center;
}

#say-hello.padded-anchor {
    margin-top:  -10px;
    padding-top: 65px;
}

#say-hello h2 {
    margin-bottom:15px;
}

.publications p {
    line-height:1.6em;
}


.publications.pub-section-journals {
    margin-top:80px;
}

.publications p.with-image {
    margin-left:130px;
    min-height:160px;
    line-height:1.6em;
}

.publications p.with-image img {
    float:left;
    width:108px;
    margin-left:-130px;
    vertical-align:top;
    padding:3px;
    background-color:#fff;
    border:solid 1px #ccc;
    border-radius:3px;
}

.publications h4 {
    background-color:#cdcdcd;
    border-bottom:solid 1px #bcbcbc;
    border-radius: 3px 3px 0px 0px;
    padding:8px;
    font-weight:normal;
    margin-top:3em;
}

.publications h5 {
    border-bottom: dotted 1px #ccc;
    font-size:1.1em;
}

.thumbnail img {
    margin-top:1.5em;
    margin-bottom:1em;
    height:125px;
}

.section-adverts .thumbnail {
    height:400px;
    border-top:solid 5px #57a;
}

#footer {
    background-color:#232323;
    color:#fff;
    font-size:90%;
    height:250px;
    margin-top:150px;
}