---
layout: page
---
<div class="row">
  <div id="current-activity" class="col-xs-12 col-md-8 col-lg-8">
    {{ content }}
  </div>
  <div class="col-xs-12 col-md-4 col-lg-4">
    <div id="timeline">
      <h3>Additional Highlights:</h3>
      <p><img src="/images/logos/nasa.jpeg" alt="NASA Logo" title=""/>
      From 2007-2014 I worked as a software engineer at the NASA <a href="http://jpl.nasa.gov">Jet Propulsion
      Laboratory (JPL)</a> in Pasadena, California. As a member of the Data Management
      Systems and Technologies group, I dedicated my time to developing customized data management
      software in support of ongoing, cutting-edge research across a broad spectrum of domains. From radio astronomy, to climate research, to cancer bioinformatics. Software I have developed is in use at NASA, the NIH, NSF, DARPA, and international research efforts like the <a href="http://skatelescope.org">Square Kilometre Array</a>.</p>

      <p><img src="/images/logos/apache.jpeg" alt="Apache Software Foundation Logo" title="" />
      I am a member of the <a href="http://www.apache.org">Apache Software Foundation</a>, where I contribute to a number
      of <a href="http://people.apache.org/committer-index.html#ahart">awesome open source projects</a> including
      <a href="http://oodt.apache.org">Object Oriented Data Technology (OODT)</a>, a component-based
      information integration framework for building distributed, data-intensive software systems.</p>

      <p><img src="/images/logos/ieee.jpeg" alt="IEEE Logo" title="" />
      I have presented and published research in a variety of IEEE-sponsored <a href="/publications">journals and conferences</a>, including IEEE Computer, IEEE Software, IEEE IT Professional, CBMS 2009, HEALTHINF 2009, and ICSE 2011 SECLOUD.</p>

      <p><img src="/images/logos/viterbi.jpeg" alt="University of Southern California Logo" title="" />
      I received my M.S. in Computer Science, with an emphasis in Software
      Engineering, from the <a href="http://viterbi.usc.edu">USC Viterbi School of Engineering</a> in May, 2007. I received my
      B.S. in Computer Science, with a minor in Multimedia and Creative Technologies, from the USC
      Viterbi school in May, 2005.</p>

      <p><img src="/images/logos/isi.jpeg" alt="Information Sciences Institute Logo" title="" />
      I held a Research Assistantship position at the <a href="http://isi.edu">USC Information Sciences
      Institute</a> from 2006-2007. Working under Dr. Ted Faber, I designed a
      system for mutual assurance, at the BIOS level, between a networked cluster node and a
      controlling server.</p>

      <p><img src="/images/logos/scec.jpeg" alt="Southern California Earthquake Center Logo" title="" />
      In 2004-2005, I participated in the <a href="http://scec.edu">Southern California Earthquake Center</a>&#39;s
      Undergraduate Studies in Earthquake Information Technology (UseIT) program and,
      working with a team of 15 undergraduates, built the first version of SCEC-VDO,
      an open source visualization product that enables interactive, 4D display of
      diverse geo-referenced datasets for analysis, presentation, and publication.</p>

      <p><img src="/images/logos/impac.gif" alt="Southern California Earthquake Center Logo" title="" />
      In 2003, I held a summer internship at IMPAC Medical Systems (now part of Elekta)
      developing internal tools for intelligently replacing protected health information
      with reasonable alternatives to facilitate QA and testing.</p>

      <p><a href="/projects">Check out my projects page</a> for additional information about projects I've been involved with.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
