---
layout: page
title: About Andrew...
---

<div class="panel mdl-shadow--2dp">
    <!--{{ content }}-->
    <div class="mdl-grid">
      <div class="mdl-cell--12-col">
        <h3>Current Work</h3>
        <p>
        <a href="https://pogoseat.com/">
          <img src="/images/logos/pogoseat.jpeg" width="180px" alt="Pogoseat Logo" title="Pogoseat - Upgrade Your Game" class="work-logo"/>
        </a>
        I'm currently the CTO of <a href="https://pogoseat.com/" target="_new">Pogoseat, Inc.</a>, a venture-backed startup based in Venice Beach, CA. We're developing tools to help fans get the best possible experience at live events. On any given day I might be managing our engineering team, digging through data to find ways to optimize the performance of our mobile app and REST APIs, or working to refine the product roadmap to make sure we can continue to scale.
        </p><p>
        I draw on my experience working in a wide variety of environments, from <a href="http://scec.usc.edu" target="_new">university research lab</a>, to <a href="https://pogoseat.com/" target="_new">early start-up</a>, to <a href="http://jpl.nasa.gov/" target="_new">national space agency</a>. Each has provided me with a unique perspective on the art and science of software development.
        </p><p>
        When I'm not in front of a keyboard, I'm usually out taking photographs. Travel and photography are two longstanding passions of mine that go well together, and I've taken every opportunity to get out and see the world, always with <a href="http://www.dpreview.com/reviews/nikon-d7100" target="_new">my camera</a>, of course.
        </p>

        <h4>Other Activities</h4>
        <div class="teaser teaser-apache mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Apache</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p><img src="/images/logos/apache.jpeg" alt="Apache Software Foundation Logo" title="" class="work-logo" />
            I am a member of the <a href="http://www.apache.org">Apache Software Foundation</a>, where I contribute to a number
            of <a href="http://people.apache.org/committer-index.html#ahart">awesome open source projects</a> including
            <a href="http://oodt.apache.org">Object Oriented Data Technology (OODT)</a>, a component-based
            information integration framework for building distributed, data-intensive software systems.</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/projects">
              Learn More
            </a>
          </div>
        </div>

        <div class="teaser teaser-ieee mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">IEEE</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p><img src="/images/logos/ieee.jpeg" alt="Apache Software Foundation Logo" title="" class="work-logo" />
            I have presented and published research in a variety of IEEE-sponsored <a href="/publications">journals and conferences</a>, including IEEE Computer, IEEE Software, IEEE IT Professional, CBMS 2009, HEALTHINF 2009, and ICSE 2011 SECLOUD.</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/publications">
              Learn More
            </a>
          </div>
        </div>

        <h3>Past Work</h3>
        <div class="teaser teaser-nasa mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">NASA</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p><img src="/images/logos/nasa.jpeg" alt="NASA" title="" class="work-logo" />
            From 2007-2014 I worked as a software engineer at the NASA <a href="http://jpl.nasa.gov">Jet Propulsion
            Laboratory (JPL)</a> in Pasadena, California. As a member of the Data Management
            Systems and Technologies group, I dedicated my time to developing customized data management
            software in support of ongoing, cutting-edge research across a broad spectrum of domains. From radio astronomy, to climate research, to cancer bioinformatics. Software I have developed is in use at NASA, the NIH, NSF, DARPA, and international research efforts like the <a href="http://skatelescope.org">Square Kilometre Array</a>.</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/projects">
              Learn More
            </a>
          </div>
        </div>

        <div class="teaser teaser-isi mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">USC ISI</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p><img src="/images/logos/isi.jpeg" alt="Information Sciences Institute Logo" title="" class="work-logo"/>
              I held a Research Assistantship position at the <a href="http://isi.edu">USC Information Sciences
              Institute</a> from 2006-2007. Working under Dr. Ted Faber, I designed a
              system for mutual assurance, at the BIOS level, between a networked cluster node and a
              controlling server.</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/projects">
              Learn More
            </a>
          </div>
        </div>

        <div class="teaser teaser-scec mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">SCEC</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <p><img src="/images/logos/scec.jpeg" alt="Southern California Earthquake Center Logo" title="" class="work-logo" />
              In 2004-2005, I participated in the <a href="http://scec.edu">Southern California Earthquake Center</a>&#39;s
              Undergraduate Studies in Earthquake Information Technology (UseIT) program and,
              working with a team of 15 undergraduates, built the first version of SCEC-VDO,
              an open source visualization product that enables interactive, 4D display of
              diverse geo-referenced datasets for analysis, presentation, and publication.</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/projects">
              Learn More
            </a>
          </div>
        </div>

        <div class="teaser teaser-impac mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">IMPAC Medical</h2>
          </div>
          <div class="mdl-card__supporting-text  mdl-card--expand">
            <p><img src="/images/logos/impac.gif" alt="IMPAC Medical Systems Logo" title="" class="work-logo"/>
              In 2003, I held a summer internship at IMPAC Medical Systems (now part of Elekta)
              developing internal tools for intelligently replacing protected health information
              with reasonable alternatives to facilitate QA and testing.</p>
          </div>
        </div>

        <h3>Education</h3>
        <div class="teaser teaser-usc mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">USC</h2>
          </div>
          <div class="mdl-card__supporting-text mdl-card--expand">
            <p><img src="/images/logos/viterbi.jpeg" alt="University of Southern California Logo" title="" class="work-logo" />
              I received my M.S. in Computer Science, with an emphasis in Software
              Engineering, from the <a href="http://viterbi.usc.edu">USC Viterbi School of Engineering</a> in May, 2007. I received my
              B.S. in Computer Science, with a minor in Multimedia and Creative Technologies, from the USC
              Viterbi school in May, 2005.</p>
          </div>
        </div>

    </div>
  </div>
</div>
