<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <!--
      <header class="mdl-layout__header">
        {% include header.html %}
      </header>
      -->
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
              <div class="panel mdl-shadow--2dp" id="coverpic">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Andrew F. Hart<br>Software Entrepreneur</h2>
                </div>
                <div class="mdl-card__media"></div>
                <div class="mdl-card__supporting-text">
                  <p>Thanks so much for stopping by! <br/>
                    I'm Andrew F. Hart, an enthusiastic entrepreneur, software engineer, photographer, and travel fanatic living and working in Los Angeles, California.</p>
                </div>
                <div class="mdl-card__actions">
                   <a href="http://cvmeter.com/andrewfhart/cv">Download Resume</a>
                </div>
              </div>

              <div class="panel">
                <div class="social-links">
                  <a href="http://twitter.com/andrewfhart" target="_new"> <img src="/images/icons/twitter-32.png"/></a>
                  <a href="http://facebook.com/andrewfhart" target="_new"> <img src="/images/icons/facebook-32.png"/></a>
                  <a href="http://flickr.com/photos/andrew" target="_new"> <img src="/images/icons/flickr-32.png"/></a>
                  <a href="http://www.linkedin.com/pub/andrew-hart/3/b98/594" target="_new"><img src="/images/icons/linkedin-32.png"/></a>
                  <a href="http://andrewfhart.tumblr.com/" target="_new"> <img src="/images/icons/tumbler-32.png"/></a>
                  <a href="http://youtube.com/andrewfhart" target="_new"> <img src="/images/icons/youtube-32.png"/></a>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--8-col">

              {{ content }}

            </div>
          </div>
        </div>
        <div class="mdl-layout__footer">
          <footer class="mdl-mini-footer mdl-color--grey-00">
            {% include footer.html %}
          </footer>
        </div>
      </main>
    </div>
  </body>
</html>
