---
layout: default
---
<div class="post mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="{% if page.parent %}{{ page.parent }}{% else %}/{% endif %}"><i class="material-icons mdl-layout--small-screen-only">arrow_back</i></a>
      <span class="mdl-layout-title">{{ page.title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/about">About</a>
        <a class="mdl-navigation__link" href="/projects">Projects</a>
        <a class="mdl-navigation__link" href="/publications">Publications</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ page.title }}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/about">About</a>
      <a class="mdl-navigation__link" href="/projects">Projects</a>
      <a class="mdl-navigation__link" href="/publications">Publications</a>
    </nav>
  </div>

  <article class="post-content">
    {{ content }}
  </article>

</div>
